{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/style1.css' %}">
    <link rel="stylesheet" href="{% static 'users/style.css' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    {% if user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url={% url 'dashboard' %}">
    {% else %}
    <header>
      <div class="container">
        <nav id="navigation">
          <a href="/" class="logo">Pershdev-PassM</a>
          <a aria-label="mobile menu" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </a>
            <ul class="menu-left">
              <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
              <li><a href="{% url 'signup' %}" class="nav-link">Sign up</a></li>
            </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
            </div>
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Login</h5>
              <form method="POST" action="">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="username" class="form-control" id="floatingInputEmail" placeholder="Your username" name="username">
                  <label for="floatingInputUsername">Username</label>
                </div>

                <hr>

                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                  <label for="floatingPassword">Password</label>
                </div>

                <div class="d-grid mb-2">
                  <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Login</button>
                </div>
                {% for message in  messages %}
                  <p>{{message}}</p>
                {% endfor %}
                <a class="d-block text-center mt-2 small" href="{% url 'signup' %}">Don't have an account? Sign Up</a>

                <hr class="my-4">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>