{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/style1.css' %}">
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
    <title>Dashboard</title>
  </head>
  {% if user.is_authenticated %}
  <body>
    <header>
      <div class="container">
        <nav id="navigation">
          <a href="/" class="logo">Pershdev-PassM</a>
          <a aria-label="mobile menu" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </a>
            <ul class="menu-left">
              <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
              <li class="nav-item"><a class="nav-link" href="/vault">vault</a></li>
              <li class="nav-item"><a class="nav-link" href="/profile">Welcome {{user}}</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </nav>
      </div>
    </header>
    {% for message in  messages %}
      <p id="login-message">{{message}}</p>
    {% endfor %}
    <script>
      var message_ele = document.getElementById("login-message");

      setTimeout(function(){ 
        message_ele.style.display = "none"; 
      }, 3000);
      // Timeout is 3 sec, you can change it   // 2000 millisecond
    </script>
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-7">
              <div class="card p-3 py-4">
                  <div class="text-center">
                      <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
                  </div>
                  <div class="text-center mt-3">
                      <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                      <h5 class="mt-2 mb-0">Alexender Schidmt</h5>
                      <span>UI/UX Designer</span>
                      
                      <div class="px-4 mt-1">
                          <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      
                      </div>
                      
                       <ul class="social-list">
                          <li><i class="fa fa-facebook"></i></li>
                          <li><i class="fa fa-dribbble"></i></li>
                          <li><i class="fa fa-instagram"></i></li>
                          <li><i class="fa fa-linkedin"></i></li>
                          <li><i class="fa fa-google"></i></li>
                      </ul>
                      
                      <div class="buttons">
                          
                          <button class="btn btn-outline-primary px-4">Message</button>
                          <button class="btn btn-primary px-4 ms-3">Contact</button>
                      </div>
                        
                  </div>
              </div>
          </div> 
      </div>  
    </div>
  </body>
  {% else %}
  <meta http-equiv="REFRESH" content="0;url={% url 'login' %}">
  {% endif %}
</html> 
